Code/
discord
vivaldi
yay
systemd
electron-flags.conf
trashrc
WebCord
SideQuest
notion-app
Logseq
GIMP

!wireplumber/
wireplumber/*
wireplumber/bluetooth.lua.d/*
!wireplumber/bluetooth.lua.d/
!wireplumber/bluetooth.lua.d/50-bluez-config.lua

rncbc.org/qpwgraph.conf
dconf/user
pulse/cookie
kde.org/UserFeedback.org.kde.dolphin.conf
