Code/
discord
vivaldi
yay
systemd
electron-flags.conf
trashrc
WebCord

!wireplumber/
wireplumber/*
wireplumber/bluetooth.lua.d/*
!wireplumber/bluetooth.lua.d/
!wireplumber/bluetooth.lua.d/50-bluez-config.lua